<body>
  <div class="con">
    <aside>
      <div class="top">
        <div class="logo">
          <img src="../../../assets/img/03.png" />
          <h1>Lottory</h1>
        </div>
        <div class="close" id="close-btn">
          <span class="material-symbols-outlined"> close </span>
        </div>
      </div>

      <div class="sidebar">
        <!-- <a href="#">
                    <span class="material-symbols-outlined">
                        person
                    </span>
                  <h3>Dashboard</h3>
              </a> -->
        <a routerLink="/dashboard" class="active">
          <!-- <span class="material-symbols-outlined">grid_view</span> -->
          <h3>หน้าแรก</h3>
        </a>
        <a routerLink="/report_user">
          <!-- <span class="material-symbols-outlined">grid_view</span> -->
          <h3>รายงานจำนวนผู้ใช้งาน</h3>
        </a>
        <a routerLink="/report_ticket">
          <!-- <span class="material-symbols-outlined">grid_view</span> -->
          <h3>รายงานรายละเอียดหมายเลขสลาก</h3>
        </a>
        <a routerLink="/report_buyticket">
          <!-- <span class="material-symbols-outlined">grid_view</span> -->
          <h3>รายงานรายละเอียดการสั่งซื้อ</h3>
        </a>
        <a href="/login" class="active">
          <!-- <span class="material-symbols-outlined"> logout </span> -->
          <h2>Logout</h2>
        </a>
      </div>
    </aside>
    <!----------------------------------- END OF ASIDE -------------------------->

    <main>
      <h1>รายงานจำนวนสลาก</h1>
      <div class="date">
        <p>รายงานจำนวนสลาก</p>
      </div>
      <div class="insights">
        <div class="circle_1">
          <span></span>
          <div class="middle">
            <div class="left">
              <h3>จำนวนผู้ใช้งาน</h3>
              <h1>{{ account.length }} คน</h1>
            </div>
          </div>
        </div>

        <div class="circle_2">
          <span></span>
          <div class="middle">
            <div class="left">
              <h3>จำนวนหมายเลขสลากทั้งหมด</h3>
              <h1>{{ lottory.length }} ใบ</h1>
            </div>
          </div>
        </div>

        <div class="circle_3">
          <span></span>
          <div class="middle">
            <div class="left">
              <h3>จำนวนการสั่งซื้อทั้งหมด</h3>
              <h1>{{ totalBuytciket.length }} รายการ</h1>
            </div>
          </div>
        </div>
        <!-------------------------- END OF INCOME -------------------------->
      </div>
      <!-------------------------- ORDER -------------------------->
      <div class="recent-orders">
        <h2>รายงานข้อมูลการซื้อประจำวัน</h2>
        <div>
          <label>กรุณาเลือกวัน : </label>
          <input
            type="date"
            [(ngModel)]="selectedDate"
            (change)="searchByDate()"
          />
        </div>
        <table>
          <thead>
            <tr>
              <th scope="col">ชื่อ-นามสกุลผู้ซื้อ</th>
              <th scope="col">หมายเลขสลาก</th>
              <th scope="col">จำนวน</th>
              <th scope="col">ราคารวม</th>
            </tr>
          </thead>

          <tbody>
            <tr *ngFor="let day of dayData">
              <td scope="row" data-label="Name">
                {{ day.fname }} {{ day.lname }}
              </td>
              <td data-label="Ticket Id">{{ day.ticket_id }}</td>
              <td data-label="Amount">{{ day.amount }}</td>
              <td data-label="Total">{{ day.total_price }}</td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <td colspan="2"></td>
              <td data-label="Amount">ราคารวม</td>
              <td data-label="Amount">{{ total_price_sum_day }}</td>
            </tr>
          </tfoot>
        </table>

        <h2>รายงานข้อมูลการซื้อประจำเดือน</h2>
        <div>
          <label>กรุณาเลือกเดือน : </label>
          <select [(ngModel)]="selectedMonth" (change)="searchByMonth()">
            <option value="1">มกราคม</option>
            <option value="1">มกราคม</option>
            <option value="2">กุมภาพันธ์</option>
            <option value="3">มีนาคม</option>
            <option value="4">เมษายน</option>
            <option value="5">พฤษภาคม</option>
            <option value="6">มิถุนายน</option>
            <option value="7">กรกฎาคม</option>
            <option value="8">สิงหาคม</option>
            <option value="9">กันยายน</option>
            <option value="10">ตุลาคม</option>
            <option value="11">พฤศจิกายน</option>
            <option value="12">ธันวาคม</option>
            <!-- เพิ่มเดือนต่อไปตามลำดับ -->
          </select>
        </div>

        <table>
          <thead>
            <tr>
              <th scope="col">ชื่อ-นามสกุลผู้ซื้อ</th>
              <th scope="col">หมายเลขสลาก</th>
              <th scope="col">จำนวน</th>
              <th scope="col">ราคารวม</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let month of monthData">
              <td scope="row" data-label="Name">
                {{ month.fname }} {{ month.lname }}
              </td>
              <td data-label="Ticket Id">{{ month.ticket_id }}</td>
              <td data-label="Amount">{{ month.amount }}</td>
              <td data-label="Total">{{ month.total_price }}</td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <td colspan="2"></td>
              <td data-label="Amount">ราคารวม</td>
              <td data-label="Amount">{{ total_price_sum }}</td>
            </tr>
          </tfoot>
        </table>
      </div>
    </main>

    <!-------------------------- END OF MAIN -------------------------->

    <div class="right">
      <div class="top">
        <button id="menu-btn">
          <span class="material-symbols-outlined"> menu </span>
        </button>
        <div class="profile">
          <div class="info">
            <p>
              Hey, <b>{{ userData.fname }} {{ userData.lname }}</b>
            </p>
            <small class="text-muted">Admin</small>
          </div>
        </div>
      </div>

      <!-------------------------- END OF TOP -------------------------->
    </div>
  </div>
</body>
