<body>
  <div class="con">
    <aside>
      <div class="top">
        <div class="logo">
          <img src="../../../assets/img/03.png" />
          <h1>Lottory</h1>
        </div>
        <div class="close" id="close-btn">
          <span class="material-symbols-outlined"> close </span>
        </div>
      </div>

      <div class="sidebar">
        <!-- <a href="#">
                    <span class="material-symbols-outlined">
                        person
                    </span>
                  <h3>Dashboard</h3>
              </a> -->
        <a routerLink="/dashboard">
          <!-- <span class="material-symbols-outlined">grid_view</span> -->
          <h3>หน้าแรก</h3>
        </a>
        <a routerLink="/report_user">
          <!-- <span class="material-symbols-outlined">grid_view</span> -->
          <h3>รายงานจำนวนผู้ใช้งาน</h3>
        </a>
        <a routerLink="/report_ticket">
          <!-- <span class="material-symbols-outlined">grid_view</span> -->
          <h3>รายงานรายละเอียดหมายเลขสลาก</h3>
        </a>
        <a routerLink="/report_buyticket" class="active">
          <!-- <span class="material-symbols-outlined">grid_view</span> -->
          <h3>รายงานรายละเอียดการสั่งซื้อ</h3>
        </a>
        <a href="/login">
          <!-- <span class="material-symbols-outlined"> logout </span> -->
          <h3>Logout</h3>
        </a>
      </div>
    </aside>
    <!----------------------------------- END OF ASIDE -------------------------->

    <main>
      <h1>รายงานรายละเอียดการสั่งซื้อ</h1>
      <div class="date">
        <p>รายงานรายละเอียดการสั่งซื้อ</p>
      </div>
      <div class="insights">
        <div class="circle_1">
          <span></span>
          <div class="middle">
            <div class="left">
              <h3>จำนวนผู้ใช้งาน</h3>
              <h1>{{ account.length }} คน</h1>
            </div>
          </div>
        </div>
        <div class="circle_2">
          <span></span>
          <div class="middle">
            <div class="left">
              <h3>จำนวนหมายเลขสลากทั้งหมด</h3>
              <h1>{{ lottory_total.length }} ใบ</h1>
            </div>
          </div>
        </div>

        <div class="circle_3">
          <span></span>
          <div class="middle">
            <div class="left">
              <h3>จำนวนการสั่งซื้อทั้งหมด</h3>
              <h1>{{ totalBuytciket.length }} รายการ</h1>
            </div>
          </div>
        </div>
        <!-------------------------- END OF INCOME -------------------------->
      </div>
      <!-------------------------- ORDER -------------------------->
      <div class="recent-orders">
        <h2>รายละเอียดการสั่งซื้อ</h2>
        <table>
          <thead>
            <tr>
              <th scope="col">ชื่อ-นามสกุลผู้ซื้อ</th>
              <th scope="col">หมายเลขสลาก</th>
              <th scope="col">จำนวน</th>
              <th scope="col">ราคา</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let report of report">
              <td scope="row" data-label="ชื่อ-นามสกุลผู้ซื้อ">
                {{ report.fname }} {{ report.lname }}
              </td>
              <td data-label="หมายเลขสลาก">{{ report.ticket_id }}</td>
              <td data-label="จำนวน">{{ report.amount }}</td>
              <td data-label="ราคา">{{ report.total_price }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </main>

    <!-------------------------- END OF MAIN -------------------------->

    <div class="right">
      <div class="top">
        <button id="menu-btn">
          <span class="material-symbols-outlined"> menu </span>
        </button>
        <div class="profile">
          <div class="info">
            <p>
              Hey, <b>{{ userData.fname }} {{ userData.lname }}</b>
            </p>
            <small class="text-muted">Admin</small>
          </div>
          <!-- <div class="profile-photo">
                      <span class="material-symbols-outlined">
                          person
                      </span>
                  </div> -->
        </div>
      </div>

      <!-------------------------- END OF TOP -------------------------->
    </div>
  </div>
</body>
