<div
  style="
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  "
>
  <div
    class="card-content"
    style="
      margin-top: 20px;
      width: 60%;
      box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px,
        rgba(0, 0, 0, 0.23) 0px 6px 6px;
    "
  >
    <div style="padding: 10px">
      <p
        style="
          font-size: 30px;
          font-weight: 800;
          color: rgb(0, 0, 0);
          text-align: center;
          margin-top: 25px;
        "
      >
        ประวัติการสั่งซื้อ
      </p>
      <button routerLink="/report_detail" class="btn btn-danger">
        รายละเอียดการสั่งซื้อ
      </button>
      <hr />
      <div class="box-search">
        <div class="box-input">
          <div class="box-input-1">
            <div class="input-1">
              <input
                class="form-control input_num_search"
                minlength="1"
                maxlength="1"
                name="num_1"
                type="text"
                [(ngModel)]="num_1"
                placeholder="1"
              />
              <input
                class="form-control input_num_search"
                minlength="1"
                maxlength="1"
                name="num_2"
                type="text"
                [(ngModel)]="num_2"
                placeholder="2"
              />
              <input
                class="form-control input_num_search"
                minlength="1"
                maxlength="1"
                name="num_3"
                type="text"
                [(ngModel)]="num_3"
                placeholder="3"
              />
              <input
                class="form-control input_num_search"
                minlength="1"
                maxlength="1"
                name="num_4"
                [(ngModel)]="num_4"
                type="text"
                placeholder="4"
              />
              <input
                class="form-control input_num_search"
                minlength="1"
                maxlength="1"
                [(ngModel)]="num_5"
                name="num_5"
                type="text"
                placeholder="5"
              />
              <input
                class="form-control input_num_search"
                minlength="1"
                maxlength="1"
                name="num_6"
                [(ngModel)]="num_6"
                type="text"
                placeholder="6"
              />
            </div>
          </div>

          <div class="box-input-2">
            วันที่สั่งซื้อ :
            <input
              type="date"
              [(ngModel)]="selectedDate"
              (change)="searchByDate()"
            />
          </div>
        </div>
        <div class="box-input">
          <div class="box-input-4">
            <button class="btn_search" (click)="searchTicket()">
              ค้นหาการสั่งซื้อ
            </button>
          </div>
          <div class="box-input-5">
            <button class="btn_reset" type="reset" (click)="resetForm()">
              เคลียร์
            </button>
          </div>
        </div>
      </div>

      <hr />
      <table
        *ngIf="
          searchedLottory.length === 0 &&
          !num_1 &&
          !num_2 &&
          !num_3 &&
          !num_4 &&
          !num_5 &&
          !num_6 &&
          !selectedDate
        "
      >
        <thead>
          <tr>
            <th scope="col">วันที่สั่งซื้อ</th>
            <th scope="col">ชื่อ-นามสกุลผู้สั่งซื้อ</th>
            <th scope="col">หมายเลขสลาก</th>
            <th scope="col">ราคา / ใบ</th>
            <th scope="col">จำนวน</th>
            <th scope="col">ราคารวม</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let lottoryhistory of lottoryhistory">
            <td data-label="ID">{{ lottoryhistory.buy_date }}</td>
            <td data-label="Lottory">
              {{ lottoryhistory.fname }} {{ lottoryhistory.lname }}
            </td>
            <td data-label="Lottory">{{ lottoryhistory.ticket_id }}</td>
            <td data-label="Amount">{{ lottoryhistory.amount }}</td>
            <td data-label="Price">{{ lottoryhistory.price }}</td>
            <td data-label="Total">{{ lottoryhistory.total_price }}</td>
          </tr>
        </tbody>
      </table>

      <table *ngIf="searchedLottory.length > 0">
        <thead>
          <tr>
            <th scope="col">วันที่สั่งซื้อ</th>
            <th scope="col">ชื่อ-นามสกุลผู้สั่งซื้อ</th>
            <th scope="col">หมายเลขสลาก</th>
            <th scope="col">ราคา / ใบ</th>
            <th scope="col">จำนวน</th>
            <th scope="col">ราคารวม</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let order of searchedLottory">
            <td data-label="วันที่สั่งซื้อ">{{ order.buy_date }}</td>
            <td data-label="ชื่อ-นามสกุลผู้สั่งซื้อ">
              {{ order.fname }} {{ order.lname }}
            </td>
            <td data-label="หมายเลขสลาก">{{ order.ticket_id }}</td>
            <td data-label="ราคา / ใบ">{{ order.price }}</td>
            <td data-label="จำนวน">{{ order.amount }}</td>
            <td data-label="ราคารวม">{{ order.total_price }}</td>
          </tr>
        </tbody>
      </table>

      <!-- <table *ngIf="dayData.length > 0">
        <thead>
          <tr>
            <th scope="col">วันที่สั่งซื้อ</th>
            <th scope="col">ชื่อ-นามสกุลผู้สั่งซื้อ</th>
            <th scope="col">หมายเลขสลาก</th>
            <th scope="col">ราคา / ใบ</th>
            <th scope="col">จำนวน</th>
            <th scope="col">ราคารวม</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let order of dayData">
            <td data-label="วันที่สั่งซื้อ">{{ order.buy_date }}</td>
            <td data-label="ชื่อ-นามสกุลผู้สั่งซื้อ">
              {{ order.fname }} {{ order.lname }}
            </td>
            <td data-label="หมายเลขสลาก">{{ order.ticket_id }}</td>
            <td data-label="ราคา / ใบ">{{ order.amount }}</td>
            <td data-label="จำนวน">{{ order.price }}</td>
            <td data-label="ราคารวม">{{ order.total_price }}</td>
          </tr>
        </tbody>
      </table> -->
    </div>
  </div>
</div>
