<div class="content">
  <div class="card_list">
    <p class="text-center mt-3 text-head">รายการสั่งซื้อ</p>
    <!-- <hr /> -->
    <p class="order_list">รายการล็อตเตอรี่</p>
    <div
      *ngFor="let order of selectedLotIds; let i = index"
      class="card_detail"
    >
      <button
        class="btn btn-danger btn_del"
        (click)="removeOrder(order.lot_id)"
      >
        X
      </button>
      <p class="order_tick">
        {{ order.ticket_id }}
      </p>
      <p class="order_quantity">
        ( ราคาต่อใบ {{ order.price }} x {{ order.quantity }} )
      </p>
      <p class="order_price" *ngIf="order.quantity * order.price">
        {{ order.quantity * order.price }}.00 บาท
      </p>
    </div>
    <div class="order_list_total">
      <p>ยอดรวมทั้งหมด</p>
      <p>{{ totalPrice | currency : "THB " }}</p>
    </div>
    <button class="button_confirm" (click)="confirmOrder()">
      ยืนยันการสั่งซื้อ
    </button>
  </div>
</div>
