<div class="content-header">
  <!-- <img src="../../../assets/img/bg_03.jpg" width="80%" height="600px;" class="img_banner"> -->
  <div class="card_1">
      <div class="lot_content">
        <h1>ผลสลากกินแบ่งรัฐบาล</h1>
        <p>งวดประจำวันที่ 16 กันยายน 2566</p>
      </div>
      <div class="lot_content_detail">
        <div class="lot_detail">
          <p style="font-size: 18px;">รางวัลที่ 1</p>
          <p style="font-size: 50px;">915478</p>
          <span style="font-size: 20px;">รางวัลละ 6,000,000 บาท</span>
        </div>
        <!-- <p-divider layout="vertical"></p-divider> -->
        <div class="lot_detail">
          <p style="font-size: 18px;">รางวัลเลขหน้า 3 ตัว</p>
          <p style="font-size: 50px;">732 945</p>
          <span style="font-size: 20px;">2 รางวัลๆละ 4,000 บาท</span>
        </div>
        <!-- <p-divider layout="vertical"></p-divider> -->
        <div class="lot_detail">
          <p style="font-size: 18px;">รางวัลเลขท้าย 3 ตัว</p>
          <p style="font-size: 50px;">241 534</p>
          <span style="font-size: 20px;">2 รางวัลๆละ 4,000 บาท</span>
        </div>
        <!-- <p-divider layout="vertical"></p-divider> -->
        <div class="lot_detail">
          <p style="font-size: 18px;">รางวัลเลขท้าย 2 ตัว</p>
          <p style="font-size: 50px;">78</p>
          <span style="font-size: 20px;">รางวัลละ 2,000 บาท</span>
        </div>
      </div>
  </div>

  <!-- <h3>ข่าวสาร</h3> -->
  <div class="card_content">
    <div class="content">
      <div class="lot_content">
        <h1>ข่าวสาร</h1>
        <p>ประจำวันที่ 16 กันยายน 2566</p>
      </div>
      <div class="content-detail">
        <div class="card_detail item2">
          <div class="item-detail">
            <img src="../../../assets/img/03.png" />
            <p class="truncate">
              สำนักงานสลากฯ ได้รับใบประกาศเกียรติคุณ
              โครงการสนับสนุนกิจกรรมลดก๊าซเรือนกระจก
            </p>
            <span>สำนักงานสลากฯ ได้รับใบประกาศเกียรติคุณ
              โครงการสนับสนุนกิจกรรมลดก๊าซเรือนกระจก ซึ่งสำนักงานฯ ได้ ดำเนินการ
              โครงการติดตั้ง Solar Cell และ โครงการบริหารจัดการขยะภายในองค์กร
              โดยสามารถลดก๊าซเรือนกระจกได้ 360.068
              ตันคาร์บอนไดออกไซด์เทียบเท่า</span>
          </div>
        </div>
        <div class="card_detail item2">
          <div class="item-detail">
            <img src="../../../assets/img/03.png" />
            <p class="truncate">
              ประกาศเรื่อง สลากกินแบ่งรัฐบาลงวดวันที่ 16 กันยายน 2566 จำนวน 45
              เล่ม สูญหาย
            </p>
            <span>ตามที่บริษัท ไปรษณีย์ไทย จำกัด มีหนังสือที่ ปณท บธ.(บก.1)/1027
              ลงวันที่ 6 กันยายน 2566 ถึงสำนักงานสลากกินแบ่งรัฐบาล
              เนื่องจากได้แจ้งความสลากกินแบ่งรัฐบาลสูญหายและขอให้สำนักงานสลากกินแบ่งรัฐบาล
              อายัดสลากงวดวันที่ 16 กันยายน 2566 จำนวน 45 เล่ม
              ตามรายงานประจำวันรับแจ้งเป็นหลักฐาน ของสถานีตำรวจภูธรเมืองอุดรธานี
              ลงวันที่ 5 กันยายน 2566 ลำดับที่ 30 ดังนั้น
              เพื่อเป็นการคุ้มครองผู้บริโภคและป้องกันความเสียหายที่อาจจะเกิดขึ้น
              สำนักงานสลากกินแบ่งรัฐบาลจึงเผยแพร่ข้อมูลหมายเลขสลากกินแบ่งรัฐบาลที่มีการแจ้งความสูญหาย
              เพื่อให้ประชาชนโดยทั่วไปได้รับทราบ</span>
          </div>
        </div>
        <div class="card_detail item2">
          <div class="item-detail">
            <img src="../../../assets/img/03.png" />
            <p class="truncate">
              สำนักงานสลากฯ พร้อมจำหน่ายสลาก L6 งวดแรก 17 ก.ย.นี้ ยืนยัน สลาก 80
              บาทมีอยู่จริง
            </p>
            <span>พันโท หนุน ศันสนาคม ผู้อำนวยการสำนักงานสลากกินแบ่งรัฐบาล
              เปิดเผยว่า ภายหลังจากที่สำนักงานสลากฯ ดำเนินโครงการสลากดิจิทัล
              โดยทำการเปิดขายครั้งแรกในงวดวันที่ 16 มิ.ย.2565 ที่จำนวน 5 ล้านใบ
              ได้รับความสนใจจากประชาชนผู้ซื้อสลากฯ
              รวมทั้งตัวแทนรายย่อยผู้ค้าสลาก เป็นจำนวนมาก มาอย่างต่อเนื่อง
              จนถึงขณะนี้ มีปริมาณสลากดิจิทัลทั้งสิ้นกว่า 20 ล้านใบ
              และยังคงสามารถจำหน่ายได้หมดทุกงวด
              สะท้อนให้เห็นถึงความชัดเจนของแนวทางการแก้ปัญหาสลากเกินราคาฯ
              ที่ดำเนินการเป็นขั้นเป็นตอน เป็นเครื่องพิสูจน์ได้ว่า "สลาก 80
              บาทมีอยู่จริง" และภายในปี 2566 สำนักงานสลากฯ
              ยังคงตั้งเป้าหมายที่จะเพิ่มจำนวนสลากดิจิทัล เพื่อให้ประชาชนผู้ซื้อ
              สามารถเข้าถึงสลากฯ ราคา 80 บาท</span>
          </div>
        </div>
        <div class="card_detail item2">
          <div class="item-detail">
            <img src="../../../assets/img/03.png" />
            <p class="truncate">
              ประกาศเรื่อง กำหนดประเภทและรูปแบบสลากกินแบ่งรัฐบาลหกหลัก (Lottery
              6: L6)
            </p>
            <span>ประกาศเรื่อง กำหนดประเภทและรูปแบบสลากกินแบ่งรัฐบาลหกหลัก
              (Lottery
              6: L6)</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--content-->
  <!--
  <div style="display: flex; flex-direction: row; justify-content: center; align-items: center; width: 100%;">
    <div class="parent">
      <ng-container *ngFor="let lottory of lottory">
        <div class="card" style="margin-top: 20px; width: 100%; box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;">
          <div style="padding: 10px;">
            <div style="display: flex; justify-content: space-between; flex-direction: row; align-items: center;">
              <p style="font-size: 30px; font-weight: 600;">สลากกินแบ่งรัฐบาล</p>
            </div>
            <div>
              <p style="font-size: 12px;">ชุดที่ {{lottory.set_no}} งวดที่ {{lottory.round_no}}</p>
              <p style="font-size: 12px;">งวดประจำวันที่ {{lottory.date_lot}}</p>
            </div>
            <div style="margin-top: 10px; display: flex; flex-direction: row; align-items: center; justify-content: center;">
              <div style="display: flex; justify-content: center; flex-direction: column; align-items: center;">
                <p style="font-size: 70px; font-weight: bold;">{{lottory.ticket_id}}</p>
                <span>ราคา {{lottory.price}} บาท มีทั้งหมด {{lottory.amount}} ใบ</span>
                <button  style="margin-top: 10px; width: 200px;" class="btn btn-primary">สั่งซื้อ</button>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </div> -->
</div>


